/*-- scss:defaults --*/

/*-- scss:rules --*/

.muted {
  color: $text-muted;
}

.gray {
  color: #BEBEBE;
}

.lightgray {
  color: #D3D3D3;
}

.extrasmalltext {
  font-size: small;
}

.smalltext {
  font-size: medium;
}

.mediumtext {
  font-size: x-large;
}

.right-justify {
  text-align: right;
}

.fa-brands, .fa-solid, {
 color:#f47c3c;;
}
